.wrapper {
    text-align: center;
    margin: 0 auto;
    min-width: 400px;
    width: 70%;
    background: #C5BEFB;
}

li {
    list-style-type: none;
}

input[type="text"] {
    width: 99%;
    height: 25px;

}
ul{
    padding: 0;
}
input[type = "checkbox"] {
    margin-left: 10px;
     margin-right: 10px;
     transform: scale(1.5);
}
