.taskdone {
    background: #ece95c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    border-bottom: 3px solid #060000;
    min-width: 400px;
    margin:0 auto;
    text-decoration: line-through;
    font-size: 18px;
    font-weight: 700;
    color: #9E9D9D;
    min-height: 50px;
    padding-top: 10px;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    background: #ece95c;
    border-bottom: 3px solid #060000;
    margin-bottom: 10px;
    min-width: 400px;
    min-height: 50px;
    margin:0 auto ;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 700;
}

